# Environment Variables
# Copy ke .env.local untuk development lokal
DATABASE_URL="postgresql://user:password@localhost:5432/absensi_db"
JWT_SECRET="ganti-dengan-string-acak-yang-panjang"
JWT_EXPIRES_IN="2h"
PORT=3000

# Dapodik
DAPODIK_NGROK_URL=""
DAPODIK_TOKEN=""
DAPODIK_NPSN=""

# WhatsApp (Meta Cloud API)
WA_PHONE_NUMBER_ID=""
WA_ACCESS_TOKEN=""
WA_API_VERSION="v22.0"